/* .new-post-container {
    width: 100%;
    height: 50vh;
    border-radius: 5px;
    background-color:#e9ecef;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    
  } */
  /* Style the main container for the post */
  .new-post-container {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    /* height:200px; */
    margin: 0 auto;
    margin-top: 50px;
  }
  .edit-post{
  max-width: 600px;
  }
  .comment-user {
    font-weight: bold;
    color: darkblue;
    padding-bottom: 10px;
  }
  /* 
  
  .new-form {
    height:30px; 
    width: 100%; 
    border: 1px solid #ccc;
  } */
  
  /* Style the input fields for the title and subject of the post */
  .new-form[type="text"] {
    border: none;
    border-bottom: 2px solid #E9EBEE;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 100%;
  }
  
  .new-form[type="text"]:focus {
    border-color: #4CB5AE;
  }
  
  .new-form[type="text"][name="title"] {
    font-weight: bold;
  }
  
  /* Style the textarea for the body of the post */
  .new-form[type="textarea"] {
    border: none;
    border-bottom: 2px solid #E9EBEE;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    width: 100%;
  }
  
  .new-form[type="textarea"]:focus {
    border-color: #4CB5AE;
  }